* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* background-image: url("../img/img10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

h1 {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  border-radius: 50px;
  width: 320px;
  margin: 10px 0 0 60px;
  text-align: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  display: inline-block;
}

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/font_83cmiq50abd/iconfont.eot');
  src: url('../fonts/font_83cmiq50abd/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/font_83cmiq50abd/iconfont.woff2') format('woff2'), url('../fonts/font_83cmiq50abd/iconfont.woff') format('woff'), url('../fonts/font_83cmiq50abd/iconfont.ttf') format('truetype'), url('../fonts/font_83cmiq50abd/iconfont.svg#iconfont') format('svg');
}

/* .logo{
  position: relative;
} */

.logo h1 a {
  display: inline-block;
  height: 48px;
  width: 100%;
  border-radius: 50px;
  /* color: #fff; */
  color: #ccc;
  font-size: 18px;
  vertical-align: center;
  line-height: 48px;
  letter-spacing: 2px;
}

.logo h1 span {
  font-family: "iconfont" !important;
  display: inline-block;
  height: 48px;
  font-size: 30px;
  font-style: normal;
  line-height: 48px;
  color: brown;
  vertical-align: middle;
  margin-right: 5px;
}

.content-container {
  position: relative;
  z-index: 2;
}

#canvas {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 160px;
  width: 320px;
  height: 320px;
  margin-top: 20px;
  margin-left: 60px;
}

.link-container {
  margin-top: 40px;
  width: calc(50vw);
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  box-sizing: border-box;
  left: calc(30px - 50vw);
  transition: left 0.7s ease-in-out;
  z-index: 100;
}

.link-container:target {
  left: 0;
}

.link-box {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-around; */
  justify-content: flex-start;
  position: relative;
  flex-flow: row wrap;
  transition: all 0.3s ease-in-out;
}

.link-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.link-box>a {
  line-height: 26px;
  font-size: 10pt;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  min-width: 50px;
  background-color: lightgray;
  color: gray;
  margin: 0 5px;
  transition: all 0.3s ease-in-out;
}

.link-box>a:hover {
  background-color: coral;
  color: darkred;
  box-shadow: 1px 1px 1px 2px #333;
  /* text-shadow: 1px 1px 2px #333; */
  transform: translate(-1px, -1px);
}

.link-control-box {
  padding: 0;
  width: 60px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.link-control-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.open-btn, .close-btn {
  padding: 0;
  width: 30px;
  min-width: 30px;
  height: 60px;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}

.open-btn {
  border-radius: 0 30px 30px 0;
}

.close-btn {
  border-radius: 30px 0 0 30px;
}

.open-btn::before {
  content: "";
  border: 15px solid lightcyan;
  border-color: transparent transparent transparent lightcyan;
  margin-left: 5px;
}

.close-btn::before {
  content: "";
  border: 15px solid lightcyan;
  margin-left: -5px;
  border-color: transparent lightcyan transparent transparent;
}

.open-btn:hover, .close-btn:hover {
  background-color: darkred;
}

@keyframes slideLeft {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes slideBottom {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}

@keyframes slideRight {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes slideTop {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}

@keyframes notTarget {
  0% {
    z-index: 2;
    left: 0;
  }
  100% {
    z-index: 3;
    left: 100vw;
  }
}

@keyframes notTarget2 {
  0% {
    z-index: 2;
    top: 0;
  }
  100% {
    z-index: 3;
    top: 100vh;
  }
}

.bg-container {
  width: 100vw;
  height: 100vh;
  /* background-color: lightslategray; */
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bg-box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.bg-box>div {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-box>div:target {
  /* animation-name: slideLeft; */
  animation-name: slideTop;
  z-index: 2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.bg-box>div:not(:target) {
  animation-name: notTarget2;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

/* .bg-box>div:nth-child(1) {
  background-image: url("../img/img1.jpg");
}

.bg-box>div:nth-child(2) {
  background-image: url("../img/img2.jpg");
}

.bg-box>div:nth-child(3) {
  background-image: url("../img/img3.jpg");
}

.bg-box>div:nth-child(4) {
  background-image: url("../img/img4.jpg");
}

.bg-box>div:nth-child(5) {
  background-image: url("../img/img5.jpg");
}

.bg-box>div:nth-child(6) {
  background-image: url("../img/img6.jpg");
}

.bg-box>div:nth-child(7) {
  background-image: url("../img/img7.jpg");
}

.bg-box>div:nth-child(8) {
  background-image: url("../img/img8.jpg");
}

.bg-box>div:nth-child(9) {
  background-image: url("../img/img9.jpg");
}

.bg-box>div:nth-child(10) {
  background-image: url("../img/img10.jpg");
} */

#bg1 {
  background-image: url("../img/img1.jpg");
}

#bg2 {
  background-image: url("../img/img2.jpg");
}

#bg3 {
  background-image: url("../img/img3.jpg");
}

#bg4 {
  background-image: url("../img/img4.jpg");
}

#bg5 {
  background-image: url("../img/img5.jpg");
}

#bg6 {
  background-image: url("../img/img6.jpg");
}

#bg7 {
  background-image: url("../img/img7.jpg");
}

#bg8 {
  background-image: url("../img/img8.jpg");
}

#bg9 {
  background-image: url("../img/img9.jpg");
}

#bg10 {
  background-image: url("../img/img10.jpg");
}

#bg11 {
  background-image: url("../img/img11.jpg");
}

.bg-control-box {
  /* width: 50%;
  height: 40px; */
  height: 60vh;
  width: 30px;
  position: absolute;
  /* bottom: 10px;
  left: 25%; */
  right: 20px;
  top: 20vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.bg-control-box:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-control-box>div {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-control-box>div>a {
  text-decoration: none;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: 20px;
  height: 20px;
  /* line-height: 30px; */
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.bg-control-box>div>a:visited {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-control-box>div>a:hover {
  /* background-color: rgba(255, 255, 255, 0.7); */
  background-color: #fff;
  color: #333;
  transform: scale(1.1);
}

.bg-control-box>div>a:active {
  /* background-color: rgba(255, 255, 255, 0.7); */
  background-color: #fff;
  color: #333;
  transform: scale(1.5);
}