body {
  /* width: 100vw;
  height: 100vh; */
  position: relative;
  background-image: url("../img/img10.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  color: aliceblue;
  background-color: darkgray;
  display: inline-block;
  border-radius: 50px;
}

p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#canvas {
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; */
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 160px;
  width: 320px;
  height: 320px;
  margin-left: 20px;
}

a {
  display: inline-block;
  line-height: 26px;
  font-size: 10pt;
  text-decoration: none;
  background-color: coral;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  color: antiquewhite;
}

a:hover {
  background-color: chocolate;
}